.main li {
    width: 80%;
    margin: 2% 0 0 10%;
    
}
.main li .box1 {
    float: left;
    width: 30%;
    height: 200px;
    background-color: #eee;
}
.main li .box1 h1 {
    color: #666;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 30px;
}
.main li .box1 a {
    font-size: 20px;
    color: #b1191a;
    
    margin-left: 40%;
}
.main li .line {
    float: left;
    width: 1%;
    height: 200px;
    background-color: #b1191a;
}
.main li .box2 {
    float: left;
    width: 68%;
    padding-left: 5%;
    
}

.main li .box2 p {
    
    color: #666;
    font-size: 18px;
    margin-top: 30px;
    margin-left: 50px;
    padding: 15px;
    width: 500px;
    height: 120px;
    border: 2px solid #b1191a;
    overflow: auto;
    
}
